<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <img src="../png/bgpic.png" alt="" class="bgpic" />
      <div class="balance_cont block">
        <div class="balance"></div>
        <img src="../png/coin.png" alt="" />
      </div>

      <a href="game.html" class="link block">Start</a>
      <a href="shop.html" class="link block">Shop</a>
    </div>

    <script src="../scripts/jQuery.js"></script>
    <script src="../scripts/main.js"></script>
  </body>
</html>
